body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  font-size: 2rem;
  text-align: center;
}

main,
nav {
  max-width: 680px;
  margin: 0 auto;
}

main {
  padding: 1rem;
  text-align: center;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0.5rem;
  text-align: center;
  padding: 1rem;
  width: 90%;
}

nav a {
  padding: 0 1rem;
}

fieldset {
  border: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.active {
  font-weight: bold;
}

.searchTermInput {
  position: relative;
}

.searchTermInput button {
  position: absolute;
  top: 0.5rem;
  right: 0;
  color: red;
  font-weight: bold;
}
